@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.profiletext {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profiletext .imgBx {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profiletext .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profiletext h2 {
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profiletext h2 span {
    font-size: 0.8em;
    font-weight: 300;
}

.contactInfo {
    padding-top: 40px;
    padding-bottom: 40px;
}

.contactInfo h3 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.contactInfo ul {
    position: relative;
}

.contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    color: #03a9f4;
}

.contactInfo ul li span {
    color: #fff;
    font-weight: 300;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.contactInfo.education {
    font-weight: 300;
}

.contactInfo.education li {
    margin-bottom: 15px;
}

.contactInfo.education h5 {
    color: #03a9f4;
    font-weight: 500;
}

.contactInfo.education h4:nth-child(2) {
    color: #fff;
    font-weight: 500;
}

.contactInfo.education h4 {
    color: #fff;
    font-weight: 100;
}

.contactInfo.language .percent {
    position: relative;
    width: 100%;
    height: 6px;
    background: rgb(12, 12, 12);
    display: block;
    margin-top: 5px;
}

.contactInfo.language .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}

.container .left-side {
    position: relative;
    background: #003451;
    padding: 40px;
}

.container .right-side {
    position: relative;
    background: #fff;
    padding: 10px;
}

.about {
    margin-bottom: 50px;
}

.about span i {
    position: relative;
    font-weight: 1000;
    font-size: 70px;
    margin-right: 10px;
    margin-left: 30px;
}

.profile {
    border-bottom: 2px solid black;
    margin-bottom: 13px;
}

.about span {
    font-size: 40px;
    color: #003147;
    text-transform: uppercase;
}

.experience {
    border-bottom: 2px solid black;
    margin-bottom: 13px;
}


/* .about .title2 {
    position: relative;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
} */

.about:last-child {
    margin-bottom: 0;
}


/* .about .title2 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    color: #003147;
    border-bottom: 2px solid black;
} */

p {
    color: #333;
}

.about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .year_company {
    min-width: 150px;
}

.about .box .year_company h5 {
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}

.about .box .text h4 {
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}

.skills .profes {
    text-transform: uppercase;
    font-size: 20px;
    color: #003147;
    border-bottom: 2px solid black;
    margin-bottom: 13px;
    font-family: "Gill Sans", sans-serif;
    font-weight: 400;
}

.skills .profes i {
    position: relative;
    font-size: 80px;
    margin-left: 20px;
}

.skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.skills .box h4 {
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
}

.skills .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
}

.skills .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}

.interest ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.interest ul li {
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}

.interest ul li .fa {
    color: #03a9f4;
    font-size: 18px;
    width: 20px;
}

@media screen and (max-width:600px) {
    body {
        display: block;
    }
    .left-side,
    .right-side {
        width: 100%;
        padding-right: 0;
        margin-right: 0;
    }
    .container {
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
        overflow: hidden;
        padding: 0 20px;
    }
    .about .box {
        flex-direction: column;
    }
    .about .box .year_company {
        /* min-width: 150px; */
        margin-bottom: 5px;
    }
    .interest ul {
        grid-template-columns: repeat(1, 1fr);
    }
    .skills .box {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:1000px) {
    body {
        display: block;
    }
    .left-side,
    .right-side {
        width: 100%;
        padding-right: 0;
        margin-right: 0;
    }
    .container {
        width: 100%;
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
        overflow: hidden;
    }
    .interest ul {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}